/* General */

@font-face {
    font-family: WFont;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: WFont;
    background-color: #fffcf9;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
}

p {
    font-size: 11px;
    color: #747476;
}

/* Navbar */

.navbar {
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;

}

.navbar a {
    text-decoration: none;
    font-size: calc(6px + 0.6vw); /* Set minimum font size */
    margin-left: 20px;
}

.navbar-left {
    width: 5vw;
    align-self: center;
} 

.navbar-right {
    align-self: center;
}

.navbar a:link {
    color: #696468;
}

.navbar a:hover {
    color: blue;
}

/* Main Grid */

.main-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2%;
}

.main-grid-left {
    grid-template-rows: 50% 50%;
}

.main-grid-left-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.main-grid-down {
    display: grid;
    grid-template-columns: 50% 50%;
    /* gap: 30px; */
}

.tagline {
    font-size: 4.3vw;
    line-height: 1;
    margin-right: 5px;
}

.tagline-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tagline-desc {
    font-size: calc(6px + 0.7vw); /* Set minimum font size */
    line-height: 1.6;
    margin-left: 5px;
}

.read-more-button {
    background-color: #fb5659;
    border: none;
    color: white;
    padding: 1vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    letter-spacing: 3px;
    align-self: flex-start;
    margin-top: 1vw;
}

.read-more-button:hover {
    cursor: pointer;
}

.read-more-button:active {
    background-color: lightpink;
}

.main-grid-right {
    padding: 2vw;
    background-color: #000018;
}

.main-grid-right h2 {
    font-size: 2.5vw;
    color: #df9d51;
}

.main-grid-right h3 {
    color: #f2f3fb;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.main-grid-right p {
    color: #828397;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.main-grid-right hr {
    border: none;
    height: 1px;
    background-color: #3b3b53;
}

/* Posts */

.posts {
    margin-top: 4%;
    display: flex;
    margin-bottom: 10px;
}

.post {
    display: grid;
    grid-template-columns: 25% 75%;
}

.post div {
    margin-left: 10px;
}

.posts h4 {
    color: #c7c8c3;
    font-size: 2vw;
}

.posts h5 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.3vw;
    font-weight: 800;
}

.posts p {
    max-width: 70%;
    line-height: 1.5;
    font-size: calc(6px + 0.5vw); /* Set minimum font size */
}

.posts img {
    height: auto;
    width: 100%;
}